@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0F19; 
}
::-webkit-scrollbar-thumb {
  background: #1A233A; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #222E4A; 
}
